<div class="container">
  <div class="row">
    <div class="card mx-auto w-50">
      <div class="card-body">
        <div class="text-center">
          <h1 class="mx-auto h4 text-gray-900"><%= t('.create', default: 'Create Group') %></h1>
        </div>
        <%= render 'form', group: @group %>
      </div>
    </div>
  </div>
</div>