<div class="flex min-h-[calc(100vh-3.5rem)]">
  <%= render 'commons/sidebar', { project: @sprint.project } %>
  <div class="flex-1 min-w-0">
    <%= turbo_mount "Kanban", props: {
      projectId: @sprint.project.id.to_s,
      projectTitle: @sprint.project.title,
      sprintId: @sprint.id.to_s,
      sprintTitle: @sprint.title,
      isPublic: @sprint.project.is_public
    } %>
  </div>
</div>
