<div class="flex min-h-[calc(100vh-3.5rem)]">
  <%= render 'commons/sidebar', { project: @project } %>
  <div class="flex-1 min-w-0">
    <%= turbo_mount "ClosedSprints", props: {
      projectId: @project.id.to_s
    } %>
  </div>
</div>
