<div class="container mt-4">
  <div class="row">
    <div class="card mx-auto w-50">
      <div class="card-body">
        <div class="text-center">
          <h1 class="mx-auto h4 text-gray-900"><%= t('actions.edit_project', default: 'Edit Project') %></h1>
        </div>
        <%= render 'form', project: @project %>
      </div>
    </div>
  </div>
</div>