<div class="flex min-h-[calc(100vh-3.5rem)]">
  <%= render 'commons/sidebar', { project: @project, active_settings_tab: params[:tab] || 'general' } %>
  <div class="flex-1 min-w-0">
    <%= turbo_mount "ProjectSettings", props: {
      projectId: @project.id.to_s,
      activeTab: params[:tab] || 'general'
    } %>
  </div>
</div>
