<li>
  <%= link_to_unless current_page.first?, raw('&#8249;'), url, rel: 'prev', remote: remote,
        class: 'inline-flex items-center justify-center w-8 h-8 text-sm rounded-md border border-input bg-background hover:bg-accent' %>
</li>
