$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "./sb-admin/sb-admin-2";
@import "~toastr/toastr";
@import "~bootstrap-select/dist/css/bootstrap-select.min";

$btn-padding-x-xs:  .30rem !default;
$btn-padding-y-xs:  .15rem !default;
$input-btn-line-height-xs: 1.2 !default;
$font-size-xm: 0.8em !default;

.btn.rb-btn-xs {
   // line-height: ensure proper height of button next to small input
   @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-xm, $input-btn-line-height-xs, $btn-border-radius-sm);
}

.btn.rb-btn-s {
   // line-height: ensure proper height of button next to small input
   @include button-size($btn-padding-y-xs * 1.2, $btn-padding-x-xs * 1.2, 0.9em, $input-btn-line-height-xs, $btn-border-radius-sm);
}

.btn.rb-btn-default {
   @extend .border;
   @extend .page-link;
   @extend .text-dark;
}

.rb-border-dotted {
   border-style: dotted;
}

.rb-badge-radius {
   border-radius: 0.2rem;
}

.badge {
   &.badge-outlined {
      background-color: transparent;
      border: 1px solid;
      border-radius: 0.2rem;
      font-weight: 500;

      &.badge-default {
         border-color: $gray-600;
         color: $gray-600;
         background-color: #fff;
      }

      &.badge-primary {
         border-color: #2196F3;
         color: #2196F3
      }

      &.badge-secondary {
         border-color: $gray-800;
         color: $gray-800;
      }

      &.badge-success {
         border-color: #64DD17;
         color: #64DD17
      }

      &.badge-warning {
         border-color: #FFD600;
         color: #FFD600
      }

      &.badge-info {
         border-color: #29B6F6;
         color: #29B6F6
      }

      &.badge-danger {
         border-color: #ef1c1c;
         color: #ef1c1c
      }
   }
}

.rb-tag {
   @extend .badge;
   @extend .text-gray-800;
   @extend .bg-gray-200;
   @extend .font-weight-normal;
   @extend .rb-badge-radius;

   border: 1px solid $gray-500;
   font-size: 80%;
}