$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "./sb-admin/sb-admin-2";
@import "~toastr/toastr";
@import "~bootstrap-select/dist/css/bootstrap-select.min";

$btn-padding-x-xs:  .30rem !default;
$btn-padding-y-xs:  .15rem !default;
$input-btn-line-height-xs: 1.2 !default;
$font-size-xm: 0.8em !default;

.btn.rb-btn-xs {
   // line-height: ensure proper height of button next to small input
   @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-xm, $input-btn-line-height-xs, $btn-border-radius-sm);
}

.btn.rb-btn-s {
   // line-height: ensure proper height of button next to small input
   @include button-size($btn-padding-y-xs * 1.2, $btn-padding-x-xs * 1.2, 0.9em, $input-btn-line-height-xs, $btn-border-radius-sm);
}

.rb-border-dotted {
   border-style: dotted;
}